<footer class="bg-grey" style="background-color: #673ab7; color: white;">
  <div style="padding-left: 15%; padding-right: 15%;">
      <div class="row" style="padding-top: 1rem !important;padding-bottom: 1rem!important">
        <div class="footer-col col-12 col-md-3 pr-5">
          <img class="footer-img" src="https://caretoknowpro.com/Content/img/patient-mediquestHR.png">
        </div>
        <div class="footer-col col col-md-3 pt-5 p-md-0 text-center" style="color: white;">
          <p style="color: white;">3190 Harvester Road, Suite 203</p>
          <p style="color: white;">Burlington, ON L7N 3T1</p>
        </div>
        <div class="footer-col col-12 col-md-3  pt-5 p-md-0 text-center">
          <p><a target="_blank" href="mailto:privacy@patientmq.ca" style="color: white;">privacy@patientmq.ca</a></p>
          <p style="color: white;">(519) 240-7067</p>
        </div>
        <div class="footer-col legal col-12 col-md-3  pt-5 p-md-0 text-center">
          <a class="mr-3" target="_blank" href="https://caretoknowpro.com/en/Home/PrivacyPolicy">
            <p style="line-height: 1rem; color: white;" >Privacy Policy</p>
          </a>
          <!--<a class="mr-3" target="_blank" href="https://caretoknowpro.com/en/Home/TermsOfUse">
            <p style="line-height: 1rem; color: white;">Terms of Use</p>
          </a>-->

          <a target="_blank" href="https://caretoknowpro.com/en/Home/ContactUs">
            <p style="line-height: 1rem; color: white;">Contact Us</p>
          </a>
        </div>
      </div>
    </div>
</footer>

