<h2 mat-dialog-title>Reset Password</h2>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="">
        <input matInput placeholder="Current Password" type="password" formControlName="currentPassword" required>
        <mat-error>
            Please provide a valid Password
        </mat-error>
    </mat-form-field>
    <mat-form-field class="">
        <input matInput placeholder="New Password" type="password" formControlName="newPassword" required>
        <mat-error>
            Please provide a valid Password
        </mat-error>
    </mat-form-field>
    <mat-form-field class="">
        <input matInput placeholder="Confirm New Password" type="password" formControlName="confirmNewPassword" required>
        <mat-error>
            Please provide a valid Password
        </mat-error>
        <span class="mat-error" *ngIf="passwordForm.errors?.invalid">
      Password doesn't match
    </span>
    </mat-form-field>
    <br />
    <div mat-dialog-actions>
        <button mat-raised-button>Submit</button>
        <button mat-raised-button type="button" (click)="onNoClick()">Cancel</button>
    </div>
</form>
