<footer class="footer ">
  <div class="container-fluid">
      <nav class="pull-left">
          <ul>
              <li>
                <!-- <a target="_blank" href="https://www.google.ca/maps/place/70+Frid+St,+Hamilton,+ON+L8P+4M4/@43.2585567,-79.8972315,17z/data=!3m1!4b1!4m5!3m4!1s0x882c9b663475a84d:0x962fa929c73d0cba!8m2!3d43.2585528!4d-79.8950428">
                  Suite 3, 70 Frid Street, Hamilton, ON L8P 4M4
                </a> -->
                <a target="_blank" href="https://caretoknowpro.com/en/Home/ContactUs">Contact Us</a>

              </li>
              <li>
                  <a target="_blank" href="mailto:privacy@patientmq.ca">privacy@patientmq.ca</a>
              </li>
              <li>
                <a class="mr-3" target="_blank" href="https://caretoknowpro.com/en/Home/PrivacyPolicy">Privacy Policy</a>
              </li>
          </ul>
      </nav>
      <!-- <div class="copyright pull-right">
          &copy;
          {{test | date: 'yyyy'}}, <a href="http://www.patientcaresolutions.com/" target="_blank">PatientCare Solutions</a>. All rights reserved.
      </div> -->
  </div>
</footer>
